/*css fil */
*{
  margin: 0;
  padding: 0;

}
body{
  background-image: url(Natbild.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
a{
  font-size: 4.5vh;
}
.header{
  height: 7.4vh;
  width: 100%;
  padding-left: 3vh;
  position: sticky;
  background-color: #121841;
  overflow: hidden;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}
#startwin{
  height: 92.5vh;
  width: 100%;
  background-image: url(Nbild.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#bodyarea{
  height: 20vw;
  width: 100%;
  background-color: blue;
}
  #bodyonee{
  align-self: center;
  border-radius: 2vh;
  margin: 2vh 5vw 2vh 5vw;
  padding: 1vh 1vw 1vh 1vw;
  height: 78vh;
  width: 90vw;
  font-size: 1.4vw;
    background: rgba(200, 200, 200, 0.5);
}
.bakgrund{
  height: 100vh;
  width: 100%;
  background-image: url(Naturbild.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position:absolute;
}
.footer{
  position: absolute;
  height: 5vh;
  width:98.9vw;
  background-color: #121841;
  color: white;
  font-size: 2vh;
}
.bodyone{
  border-radius: 2vh;
  margin: 2vh 14vw 2vh 14vw;
  padding: 1vh 1.5vw 1vh 1.5vw;
  height: 98%;
  width: 70vw;
  font-size: 1vw;
    background: rgba(200, 200, 200, 0.5);
}

#geo1{
  background-image:url(https://www.royal.uk/sites/default/files/images/feature/king_george_iii.jpg);
  height:57vh;
  width: 73vw;
  margin: -1vh 0vw 0vh -1.5vw;
  border-radius: 2vh 2vh 0vh 0vh;
  background-repeat: no-repeat;
  background-size: cover;

}
.h2one{
  align-self: center;
  margin: inherit;
}
.bodytwo{
  align-self: center;
  border-radius: 2vh;
  margin: 2vh 5vw 2vh 5vw;
  padding: 1vh 1vw 1vh 1vw;
  height: 20.5vh;
  width: 90vw;
  font-size: 1.5vw;
  background: rgba(200, 200, 200, 0.5);
}
.headerone{
    background: rgba(200, 200, 200, 0.5);
  text-align: center;
  margin: 2vh 0vw -2vh 20vw;
  padding: 1vh 1vw 1vh 1vw;
  border-radius: 2vh;
  height: 7.5vh;
  width: 60vw;
  font-size: 1.1vw;
}
ul{
  list-style-type: none;
  margin: 0vh 0vw 0vh 12.5vw;
  padding: 0;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: White;
  text-align: center;
  padding: 2vh 2vw;
  text-decoration: none;
}

li a:hover {
  background-color: #b11111 ;
}
#h2one{
  font-size: 2.8vh;
}
#h1one{
  text-align: center;
  font-size: 4vh;
  padding-bottom: 1vh;
}
p{
  font-style: 12;
  font-family: "Georgia";

}
.sticky + .startwin {
  padding-top: 102px;
}
.mindrea{
  font-size: 2vh;
  color: #eefaff;
}
